body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.center1 {
    position: absolute;
    top:10%;
    left: 40%;
    transform: translate(0, -50%);
    padding: 10px;
    color:rgb(29, 161, 242)
    }

.center {
    position: absolute;
    left: 37%;
    top:25%;
    transform: translate(0, -50%);
    padding: 10px;
    }

.center2 {
    position: absolute;
    left: 40%;
    top:30%;
    transform: translate(0, -50%);
    padding: 10px;
    }